<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright(C) 2015 Interactive Health Solutions, Pvt. Ltd.

This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either version 3 of the License (GPLv3), or any later version.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with this program; if not, write to the Interactive Health Solutions, info@ihsinformatics.com
You can also access the license on the internet at the address: http://www.gnu.org/licenses/gpl-3.0.html

Interactive Health Solutions, hereby disclaims all copyright interest in this program written by the contributors.

Contributors: Tahira Niazi -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>tbr4web.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
    <servlet-name>NonSuspectLoginServlet</servlet-name>
    <servlet-class>com.ihsinformatics.tbr4web_pk.server.NonSuspectLoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>NonSuspectLoginServlet</servlet-name>
    <url-pattern>/NonSuspectLoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NonSuspectDataServlet</servlet-name>
    <servlet-class>com.ihsinformatics.tbr4web_pk.server.NonSuspectDataServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>NonSuspectDataServlet</servlet-name>
    <url-pattern>/NonSuspectDataServlet</url-pattern>
  </servlet-mapping>

 <!-- This block makes sure that all the resources are accessed via HTTPS -->
<!-- <security-constraint> -->
<!--  <web-resource-collection> -->
<!--   <web-resource-name>HTTPSOnly</web-resource-name> -->
<!--    <url-pattern>/*</url-pattern> -->
<!--  </web-resource-collection> -->
<!--  <user-data-constraint> -->
<!--   <transport-guarantee>CONFIDENTIAL</transport-guarantee> -->
<!--  </user-data-constraint> -->
<!-- </security-constraint> -->
<!-- This block overrides the previous for certain resources and enables them on both HTTP and HTTPS -->
<!-- <security-constraint> -->
<!--  <web-resource-collection> -->
<!--   <web-resource-name>HTTPSOrHTTP</web-resource-name> -->
<!--    <url-pattern>*.jpg</url-pattern> -->
<!--    <url-pattern>/img/*</url-pattern> -->
<!--    <url-pattern>/css/*</url-pattern> -->
<!--  </web-resource-collection> -->
<!--  <user-data-constraint> -->
<!--   <transport-guarantee>NONE</transport-guarantee> -->
<!--  </user-data-constraint> -->
<!-- </security-constraint>  -->
  
 </web-app>
